* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-family: var(--fonte-segundaria);
		
}

p{
	font-family: var(--fonte-primaria);
	font-size: var(--fonte-normal);
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--fonte-segundaria);
	line-height: 1.4;
	font-weight: bolder;
}