.container{
    max-width: 90%;
    margin: auto;
}

img{
    width: 200px;
    
}
.navbar-main{
    padding: 10px 0;
    width: 100%;
    background: var(--cor-nav);
    
}

li.nav-item{
    padding: 5px 12px;
    font-size: 15px;
    font-weight: 100;
}
a.nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 0.3s;
}

a.nav-link:hover{
    color: var(--cor-houver);    
}

.nav-btn a{
    background-color: var(--cor-houver);
    color: var(--cor-font);
    padding: 10px 30px;
    transition: .4s ease;
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none
}

.nav-btn a:hover{
    background-color: #fff;
    color: var(--cor-nav);
}


