:root{
    --cor-nav : rgb(6, 11, 17);
    --cor-fundo: rgba(255, 255, 255, 1);
    --cor-objetos: rgba(91, 139, 200, 1);
    --cor-circulos: rgba(62, 195, 217, 1);
    --cor-font:rgba(255, 255, 255, 1);

}

:root{
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-segundaria: 'Nunito', sans-serif;
    --fonte-extra-grande: 6.5rem;
    --fonte-grande: 4rem;
    --fonte-medio: 2.8rem;
    --fonte-normal: 1.6rem;
    --fonte-pequena: 2rem;
}

:root{
    --mobile-padding: 3rem;
}