:root{
    --cor-nav : rgba(10, 18, 27, 1);
    --cor-fundo: rgba(255, 255, 255, 1);
    --cor-houver: rgba(0, 157, 234, 1);
    --cor-font:rgba(255, 255, 255, 1);

}

:root{
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-segundaria: 'Nunito', sans-serif;
    --fonte-extra-grande: 6.5rem;
    --fonte-grande: 4rem;
    --fonte-medio: 2.8rem;
    --fonte-normal: 1.6rem;
    --fonte-pequena: 2rem;
}

:root{
    --mobile-padding: 3rem;
}